---
interface Props {
    title: string;
    description: string;
    image: string;
    features: string[];
    link: string;
}

const { title, description, image, features, link } = Astro.props;
---

<div class="flex flex-wrap justify-center items-center text-black w-1/1">
    <div class="card w-96 bg-base-100 shadow-xl">
        <figure><img src={image} alt={title} /></figure>
        <div class="card-body">
            <h2 class="card-title">
                {title}
            </h2>
            <p>{description}</p>
            <div class="card-actions justify-end mb-2">
                {features.map((feature) => (
                    <div class="badge badge-outline">{feature}</div>
                ))}
            </div>
            <div class="card-actions justify-end">
                <a role="button" href={link} target="_blank" class="btn btn-info">
                    Echar un vistazo
                    <svg class="w-6 h-6" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#000000" stroke-width="1.848"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M5 12V6C5 5.44772 5.44772 5 6 5H18C18.5523 5 19 5.44772 19 6V18C19 18.5523 18.5523 19 18 19H12M8.11111 12H12M12 12V15.8889M12 12L5 19" stroke="#464455" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
                </a>
            </div>
        </div>
    </div>
</div>